

body{
    background-color: #F6F6F6;
    font-family: 'Oswald', sans-serif;
    margin: 0;
   
}

header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;

}



.active{

    color: indigo
}
.landing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-image: url('../assets/img/granrah-3.JPG');
    background-position: 50% 23%;
    background-size: cover;
    background-repeat: no-repeat;
}

.content {

    flex: 1;
    display: flex;
    justify-content: flex-end;
    /* Cambio aquí */
    align-items: center;
    z-index: 0;
}


.container-landing {


    width: calc(100% - 250px);
    margin-left: auto;
    

}

.seccion {
    display: flex;
    /* max-width: 75%; */
    text-align: center;
    margin: auto;
}

.menu-container {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    /* Cambio aquí */
    bottom: 0;
    padding: 20px;
    z-index: 1;
    position: fixed;
}

.menu-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
    cursor: pointer;
    
}

.menu-link {
    font-weight: bold;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
}

.logo img {
    width: 16rem;
    margin-bottom: 20px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    z-index: -1;
}

.hero-content {
    text-align: center;
    color: white;
    padding: 50px;
}

.hero-content h1 {
    font-size: 10rem;
    margin-bottom: 15px;
    translate: none;
    rotate: none;
    scale: none;
    opacity: 0.6;
    transform: translate(0px, 0px);
}

.hero-content p {
    font-size: 3rem;
    margin-bottom: 30px;
}


/* NOTICIAS */

.logo-img {
  transform-origin: right center; /* Cambia el punto de origen de la rotación */
}

.caja-noticia p{
    display: flex;
    text-align: justify;
    padding-left: 4rem;
    padding-right: 4rem;
}

.noticias{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 0;
    width: 100%;
    margin: auto;
}

.noticias-info{
    width: 70%;
    height: 100vh;
}

.noticias-img {
    width: 25%;
    padding: 4rem 0 4rem 0;
    margin: auto;
}
.noticias-img img{
    width: 100%;
    border-radius: 2rem;
}